<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Graphical Reservation</title>
  <style src="/css/styleLarge.css"></style>
</head>

<body>
  <header>
    <nav>
      <img id="logo" src="/images/logo.png">
      <a href="/" class="button1">Home</a>
      <a href="/favorites" class="button1">Favorites</a>
      {{#if loggedIn}}
      <button id="logout" class="btn-no-style">Logout</button>
      <img id="userimg" src="{{userimg}}">
      {{else}}
      <a href="/login" class="button1">Login</a>
      {{/if}}
    </nav>
  </header>

  <main>
    <div class="pageDisplay">
      {{{body}}}
    </div>
  </main>

  <script src="/js/mainLarge.css"></script>
</body>
</html>