<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Graphical Reservation</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <header>
      <nav>
        {{#if loggedIn}}

          <div class='dropdown-content'>
            <a href='/' id='homeBtn' class='button1'>Home</a>
            <a
              href="/api/users/profile"
              class='button1'
              id='profileBtn'
            >Profile</a>
            <a
              href="/api/users/profile/reservations"
              class='button1'
              id='reservationBtn'
            >Reservations</a>
          </div>

          <img id='userimg' src='{{userimg}}' />

          <button id='logoutBtn' class='button1' type='submit'>Logout</button>
          <p id="errorText"></p>

        {{else}}
          <h1>Graphical Reservation</h1>
          
          <button id='loginBtn' class='button1'>Login</a>
        {{/if}}
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <!-- {{#if loggedIn}}
      <img id="logoblock" src="smallLogo.png">
    {{/if}} -->
      <p>Created by XYZ</p>
    </footer>
  </body>
  {{#if loggedIn}}
    <script src='/js/logout.js'></script>
    <script src='js/navmenu.js'></script>
  {{else}}
    <script src='js/loginBtn.js'></script> 
  {{/if}}

</html>