<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Graphical Reservation</title>
  <style src="/Table-Reservation/public/css/styleSmall.css"></style>
</head>

<body>
  <header>
    <nav>
      <a href="/" class="button1">Home</a>
      {{#if loggedIn}}
      <img id="userimg" src="{{userimg}}">
      <a href="/logout" class="button1">Logout</a>
      {{else}}
      <img id="logo" src="/images/logo.png">
      <a href="/login" class="button1">Login</a>
      {{/if}}
    </nav>
  </header>

  <main>
    <div class="pageDisplay">
      {{{body}}}
    </div>
  </main>

  <footer>
    {{#if loggedIn}}
      <img id="logoblock" src="smallLogo.png">
    {{/if}}
    <p>Created by XYZ</p>
  </footer>
  {{!-- <script src="/js/mainSmall.css"></script> --}}
</body>
</html>