<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Graphical Reservation</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <header>
    <nav>
      {{#if loggedIn}}
      <a href="/" class="button1">Home</a>
      <img id="userimg" src="{{userimg}}">
         <button id="logout" type="submit">Logout</button>
      {{else}}
      <h1>Graphical Reservation</h1>
      <a href="/login" class="button1">Login</a>
      {{/if}}
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <!-- {{#if loggedIn}}
      <img id="logoblock" src="smallLogo.png">
    {{/if}} -->
    <p>Created by XYZ</p>
  </footer>
</body>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}

</html>