<html lang='en'>

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Graphical Reservation</title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <header>
    <nav>
      <img class="logo-svg" src="/images/GRLOGO.svg" alt="Graphical Reservation Logo">
      <label>
        <input type="checkbox">
        <span class="menu"> <span class="hamburger"></span> </span>
        <ul id="navItems" class="display_none">
          <li> 
            <a href='/' id='homeBtn' class='button1'>Home</a>
          </li>
          {{#if loggedIn}}
          <li> 
            <a href="/api/users/profile" class='button1' id='profileBtn'>Profile</a> 
          </li>
          <li> 
            <a href="/api/users/profile/reservations" class='button1' id='reservationBtn'>Reservations</a> 
          </li>
          <li> 
            <button id='logoutBtn' class='button1' type='submit'>Logout</button> 
          </li>

          {{else}}
          <li> 
            <button id='loginBtn' class='button1'>Login</a> 
          </li>
          <li>
            <p>signup button here</p>
          </li>
          {{/if}}
        </ul>
      </label>

      {{!-- <img id='userimg' src='{{userimg}}' /> --}}
      {{!-- <p id="errorText"></p> --}}
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <!-- {{#if loggedIn}}
      <img id="logoblock" src="smallLogo.png">
    {{/if}} -->
    <p>Created by Team4</p>
  </footer>
</body>
<script src='/js/navmenu.js'></script>
{{#if loggedIn}}
<script src='/js/logout.js'></script>
{{else}}
<script src='/js/loginBtn.js'></script>
{{/if}}

</html>