<div>
    <div class="heroContainer">
        {{!-- <img src="/images/hero.png"> --}}
    </div>

    {{#if loggedIn}}
    <input type="text" placeholder="Find a Restaurant...">
    {{else}}
    <a href="/signup" class="button1">Sign Up</a>
    {{/if}}

    <h2>About:</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic neque placeat architecto ut incidunt eius totam officia, delectus, est quidem voluptas reiciendis at commodi quibusdam blanditiis sapiente, aspernatur illo pariatur cum molestiae accusamus molestias cumque explicabo. Deserunt aperiam at incidunt consectetur reprehenderit. Iure quae excepturi voluptatem quisquam, culpa voluptatum consectetur corporis cum? Id nisi tenetur facilis, eligendi voluptatem harum quas?</p>

    <h2>How to:</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt odit, ab, assumenda magnam alias vitae explicabo corrupti excepturi sed perferendis exercitationem accusamus culpa reiciendis dolorem doloribus ex soluta dicta quidem perspiciatis iste ipsa tempora ipsum iure consequuntur. Cumque, eaque distinctio esse alias nobis facilis amet minima. Dolore at eos fugit!</p>
</div>