<div>
    <form class="login-form">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
    <a href="/" class="button1">Return to about me page</a>
</div>

<script src="/js/login.js"></script>