<div>
    <div id="login-card">
        <h2 class="login">Account Login</h2>
    <form class="login-form">
        
        <label for="password" >E-mail</label>
        <input id="email-login" class="logging" type="email" placeholder="Email"> 
        <label for="password">Password</label>
        <input id="password-login" class ="logging" type="password" placeholder="Password">
        <button id="loginBtn" type="submit">Login</button>
    </form>
    </div>
    <p id="errorText"></p>

    
</div>

<script src="/js/loginHandler.js"></script>