
   <div> <p> My Reservations </p>

    {{#each reservations as |reservation|}}
    {{> reservationdetails }}
    {{/each}}


<div> <a href="/" class="button1">Return to Home</a>
</div>
   
</div>
   


