<div class="tableSelect">
  <h1 id="restaurant-name"></h1>
  <div class='map-container'>
    {{{restaurantObject.floorplan}}}
  </div>

  <div id='myModal' class='modal'>
    <div class='modal-content'>
      
      <span class='close'>&times;</span>
      
      <div class='modal-body'>
          <p id="table-number"><p>
        <form id="modal-form">
          <p id="table-quantity"></p> 
          <p>How many guests are in your party?</p>
          <div class='slidecontainer'>
            <input type='range' min='1' max='10' value='2' class='slider' id='myRange'/>
          </div>
          <p>Reservation for: <span id='customer_id'></span></p>
          <button id='submit' type='submit'>Make your Reservation</button>
        </form>

        <div id="reservedMessage">
          <h2>Sorry, this table is already reserved for the night.</h2>
        </div>
      </div>

    </div>
  </div>

  <p id='confirmText'></p>
  <p id='errorText'></p>

</div>

  <script src='/js/floorPlanGUI.js'></script>
  <script src='/js/floorplanHandler.js'></script>
