:root {
  --primary: #50736c;
  --secondary: #86938f;
  --tertiary: #6d938c;
  --quatrinary: #6aa2c7;
  --light: #e3e4e3;
  --highlight: rgba(255, 255, 255, 0.5);
  --shadow:  rgba(34, 34, 34, 0.877);
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

*{
  outline: none;
}

a{
  text-decoration: none;
  color: initial;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
  overflow-x: hidden;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  margin-top: 150px;
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}

.hidden {
  visibility: hidden;
}

.display_none {
  display: none;
}

/* NAVBAR STUFF */
h1{
  color: var(--light);
  margin: 0 0 0 15px;
}

label .menu {
  position: absolute;
  right: -95px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: rgb(0, 0, 0);
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 rgb(0, 0, 0), 0 0 0 0 rgb(0, 0, 0);
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #ffffff;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

label .hamburger:before { 
  top: -10px; 
}

label .hamburger:after { 
  bottom: -10px; 
}

label input { 
  display: none; 
}

label input:checked + .menu {
  box-shadow: 0 0 0 100vw rgb(0, 0, 0), 0 0 0 100vh rgb(0, 0, 0);
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul { 
  opacity: 1; 
}

label ul {
  z-index: 200;
  position: absolute;
  top: 200%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

nav {
  display: flex;
  padding: 15px 0 35px 0;
  background-image: linear-gradient(rgb(0, 0, 0) 15%, rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0));
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100vw;
}

nav a.button1, a.button1, button {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #b7cce6;
  margin: 0 0.3em 0.3em 0;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  color: #dde2e7;
  text-align: center;
  transition: all 0.15s;
  background-color: var(--shadow);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a.button1{
  justify-content: center;
  align-items: center;
  display:block;
  margin:0.4em auto;
 }
 
/* a.button1:hover, button:hover{
  color:#DDDDDD;
  border-color:#DDDDDD;
  }

a.button1:active, button:active{
  color:#BBBBBB; 
  border-color:#BBBBBB;
  } */

/* HERO SECTION */

.heroContainer{
  display: grid;
  width: 100%;
  height: auto;
  padding: 10px 0 10px 0;
  margin-top: -150px;
}

.topLayer, .bottomLayer{
  display: flex;
  grid-column: 1;
  grid-row: 1;
  align-items: center;
  justify-content: center;
}

.heroOne{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* SEARCH BAR */

.search {
  width: 40%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#searchBar {
  width: inherit;
  height: inherit;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 0;
  border: 0 0 5px 0 solid white;
  position: absolute;
  color: white;
  font-size: 16px;
  padding-left: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#searchBar::placeholder {
  color:rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
}

#searchClear {
  cursor: pointer;
  height: inherit;
  width: 15px;
  color: white;
  margin-left: 15px;
  margin-top: 3vh;
  font-size: 16px;
  font-weight: bolder;
  z-index: 1;
}

#searchBtn {
  cursor: pointer;
  height: 3vh;
  width: 10%;
  background-color: green;
  border-radius: 20px;
  z-index: 1;
  margin-right: 10px;
  text-align: center;
}

/* ABOUT APP CARDS */

card {
  width: 98%;
  height: 45vh;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: left;
  border: 5px inset var(--secondary);
  margin-bottom: 20px;
  background-image: url("https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
  background-size: cover;
  background-position: center;
}

card h2 {
  margin: 0%;
}

.right {
  justify-content: right;
  background-image: url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
}

.inner {
  height: 85%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--shadow);
  box-sizing: border-box;
  border-radius: 10%;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  color: var(--light);
  text-align: center;
  font-size: 1.25vw;
}

/* FOOTER */

footer{
  text-align: center;
}

/* SEARCH DETAILS PAGE */

.searchResult {
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: 10vh;
  margin: 2px 0 2px 0;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
  background-image: inherit;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
}

.searchResult:hover {
  box-shadow: inset 0 -3px 5px white, 0 7px 15px rgba(0, 0, 0, 0.5);
}

.searchLink:nth-child(odd) {
  background-image: linear-gradient(white, rgb(157, 60, 247));
}

.searchLink:nth-child(even) {
  background-image: linear-gradient(white, rgb(252, 40, 40));
}

.searchWrapper {
  display: flex;
  align-items: center;
  height: inherit;
}

.infoWrapper {
  margin-left: 15px;
}

.infoWrapper h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
}

.searchIcon {
  border-radius: 15px;
  width: 7vw;
  height: 7vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-left: 20px;
}

/* RESTAURANT DETAILS PAGE */

.detailsDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  height: 60vh;
  background-color: rgb(16, 48, 23);
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.detailsDisplay h2 {
  margin-top: -5vh;
  font-weight: bolder;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.65);
}

.detailsLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 14px;
}

.detailsLogo p {
  margin: 5px;
}

.detailsImage {
  width: 20vw;
  height: 20vh;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.detailsDisplay a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4vh;
  background-color: gray;
  height: 30px;
  width: 20%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* TABLE SELECTION STYLING */

.table {
  fill: rgba(0, 128, 0, 0.75);
}

.red {
  fill: darkred;
}

.table:hover {
  fill: rgba(0, 128, 0);
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
  cursor: pointer;
  stroke: black;
  stroke-width: .5px;
  stroke-opacity: .4;
}

.red:hover {
  fill: darkred;;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
  cursor: pointer;
  stroke: black;
  stroke-width: .5px;
  stroke-opacity: .4;
}

/* SIGNUP CARDS */

.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border-radius: 7px 7px 7px 7px;
  background-color: rgb(51, 72, 80);
  color: var(--light);
  text-align: center;
  font-size: 20px;
  justify-content: space-evenly;
}

.form-input{
  background: rgba(255,255,255,.5);
  border: none;
  font-size: 15px ;
  justify-content:center ;
  align-content: center;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex:content;
  justify-self: center;
  padding: 10px;
  margin: auto;
  margin-top: 5px;
  margin-bottom:15px;
  width: 260px;
  border: none;
  border-radius: 10px 10px 10px 10px;
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

/* TABLESELECT STYLING */

.tableSelect {
  user-select: none;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.map-container {
  max-width: 1200px;
  width: 80%;
  height: 70vh;
  background-color: rgb(194, 221, 231);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 15px rgba(0, 0, 0, 0.3);
}

#svg {
  width: 90%;
  height: auto;
}

/* MODAL STYLING */

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 25%;
  top: 25%;
}

/* Modal Content */
.modal-content {
  border: 1px solid #888;
  width: 50vw;
  height: 45vh;
  border-radius: 15px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name:animatetop;
  animation-duration: 0.4s;
}

#reservedMessage {
  color: white;
}

#table-number {
  color: white;
  font-size: 22px;
  margin-top: -20px;
  padding: 10px 30px 10px 30px;
  background-color: rgba(49, 49, 49);
  border-radius: 20px;
  border: 3px solid white;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Body */
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#modal-form {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}

#submit {
  margin-top: 50px;
  cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.show {
  display: block;
}

.slidecontainer {
  width: 100%;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; 
  appearance: none;
  width: 80%;
  height: 25px; 
  background: #d3d3d3;
  outline: none; 
  opacity: 0.8; 
  border-radius: 20px;
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.slider:hover, .slider:focus, .slider:active {
  opacity: 1; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 40px; 
  height: 40px; 
  background: #12771f;
  cursor: pointer;
  border-radius: 20px;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 40px; 
  height: 40px; 
  background: #12771f;
  cursor: pointer;
  border-radius: 20px;
}

/* reservations page */

th{
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: underline;
}

td {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .25rem;
}

#returnhome {
  margin-top: 3rem;
  width: 15rem;
}

#resoheader {
  text-align: center;
}

#resobutton {
  margin-top: 3rem;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: .25rem;
}

h4 {
  font-size: 1.75rem;
  margin-bottom: .25rem;
  padding: .25rem;
}

h5 {
  font-size: 1.5rem;
  margin: .25rem;
  padding: .25rem;
}

/* login page */
#login-card, .card-body {
  display:flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  max-width: auto;
  padding: 0px 40px 40px 40px;
  border-radius: 7px 7px 7px 7px;
  background-color: rgb(51, 72, 80);
  color: var(--light);
  text-align: center;
  font-size: 20px;
  justify-content: space-around;
 
}
.logging{
  background: rgba(255,255,255,.5);
  border: none;
  font-size: 15px ;
  justify-content:center;
  align-content: center;
  display: flex;
  flex: content;
  text-align: center;
  vertical-align: middle;
  padding: 7px;
  margin: auto;
  margin-top: 10px;
  margin-bottom:15px;
  width: 180px;
  border: none;
  border-radius: 10px 10px 10px 10px;
}
.login{
  text-align: center;
  margin-bottom: 20px;
  justify-content:flex-start;
}

.card-body h2,.user{
  text-align: center;
  margin-bottom: 20px;
 
}

.user{
  display:inherit;
  flex-direction: inherit;
  background:rgba(33, 29, 29, 0.864);
  justify-content: inherit;
  align-content: center;
  border-radius: 10px 10px 10px 10px;
  padding:20px;
}
.user h4{
  margin-top: 0;
}

th {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: underline;
}

td {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .25rem;
}

#table{

margin: 0 0 20px 0;
max-width: auto;
padding: 0px 40px 40px 40px;
border-radius: 7px 7px 7px 7px;
background-color: rgb(51, 72, 80);
color: var(--light);
font-size: 20px;

}
