:root {
  --primary: #3d5852;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}
nav {
  display: flex;
  background-color: var(--secondary);
}

nav a.button1 {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.15s;
}
 
a.button1:hover{
  color:#DDDDDD;
  border-color:#DDDDDD;
  }
  a.button1:active{
   color:#BBBBBB; 
   border-color:#BBBBBB;
  }
  @media all and (max-width:30em){
   a.button1{
   display:block;
   margin:0.4em auto;
  }
  }